/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #eee;
  background: url(./assets/cat_winter_fluffy_snow_99366_1920x1080.jpg) no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  z-index: -1;
}

.form {
  width: 80%;
  margin: 0 auto;
}

.form-field {
  width: 100%;
}

textarea {
  height: 45px;
}

.form-item {
  position: relative;
  margin-bottom: 10px;
}

.invalid-feedback {
  width: 100%;
  position: absolute;
  color: #f00;
  font-size: 12px;
  bottom: -5px;
  left: 0;
}

.form-btn {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.back-btn {
  padding: 0 10px;
  height: 36px;
  line-height: 36px;
  cursor: pointer;
  color: #3f51b5;
  outline: none;
  transition: 250ms all ease-in-out;
  border-radius: 3px;
}

span {
  outline: none;
}

.back-btn:hover {
  background-color: rgba(63, 81, 181, 0.1);
}

.form-container {
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  padding: 0 0 30px 0;
  border-radius: 6px;
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.2),
    0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.form-header {
  height: 46px;
  line-height: 46px;
  margin-bottom: 30px;
  font-size: 1.2rem;
  position: relative;
  padding: 0 10%;
}

.form-icon {
  width: 70px;
  height: 70px;
  position: absolute;
  left: 10%;
  top: -50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3f51b5;
  border-radius: 4px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(63, 81, 181, 0.4);
}

.form-icon fa-icon {
  color: #fff;
  font-size: 1.5rem;
}

.form-header h3 {
  padding-left: 85px;
  color: #3c4858;
}

.failed-loading {
  text-align: center;
  font-size: 1.2rem;
  color: #f00;
}

.form-header .delete-btn {
  position: absolute;
  right: 10%;
  top: 20px;
}

/* Indicator Styling */
.lds-roller {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 80px;
  height: 80px;
  z-index: 2;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #3f51b5;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
