<div
  class="home-container"
  *ngIf="products && categories && products.length > 0"
>
  <div class="chart-container">
    <div class="chart-item">
      <canvas id="bar"></canvas>
    </div>
    <span class="description">Classify category based on products' number</span>
  </div>
  <div class="chart-container">
    <div class="chart-item">
      <canvas id="pie"></canvas>
    </div>
    <span class="description">Classify category based on percent</span>
  </div>
  <div class="sale-chart-container">
    <div class="sale-chart-item">
      <canvas id="line"></canvas>
    </div>
    <span class="description">Sales and Earnings Total</span>
  </div>
</div>
