.products-list-container {
  width: 90%;
  margin: 0 auto;
  background: #f00;
}

.products-list {
  width: 100%;
}

.row {
  height: 100px;
}

.col {
  position: relative;
}

.img-container {
  width: 25%;
}

.img-container img {
  width: 65%;
  max-height: 85%;
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
}

.product-name {
  width: 20%;
}

.product-name span {
  cursor: pointer;
}

.product-name span:hover {
  text-decoration: underline;
}

.quantity {
  width: 20%;
}

.price {
  width: 15%;
}

.actions {
  width: 20%;
  /* display: flex;
  flex-flow: row wrap;
  align-items: center; */
}

.actions button {
  margin-right: 15px;
}

.actions mat-chip {
  width: 5rem;
  justify-content: center;
  padding: 0;
  margin: 0;
}
