<div class="product-list">
  <div class="search-form">
    <mat-form-field color="accent">
      <input
        (keyup.enter)="onFilter()"
        matInput
        placeholder="Search..."
        [(ngModel)]="nameFilter"
      />
    </mat-form-field>
    <button id="search-btn" mat-mini-fab (click)="onFilter()">
      <fa-icon [icon]="faSearch"></fa-icon>
    </button>
  </div>
  <!-- <mat-tab-group>
    <mat-tab label="All" [routerLink]="['all']"></mat-tab>
    <mat-tab label="Milk Tea" [routerLink]="['milk-tea']"></mat-tab>
    <mat-tab label="Coffee" [routerLink]="['coffee']"></mat-tab>
    <mat-tab label="Pudding" [routerLink]="['pudding']"></mat-tab>
    <router-outlet></router-outlet>
  </mat-tab-group> -->
  <div class="product-item" *ngFor="let product of filteredProducts">
    <span class="product-info product-img">
      <img
        src="../../../../../assets/cat_winter_fluffy_snow_99366_1920x1080.jpg"
        alt="product's image"
      />
    </span>
    <span class="product-info product-name">
      <span [routerLink]="['/products', product.productID]">
        {{ product.productName }}
      </span>
    </span>
    <span class="product-info category">{{ product.category }}</span>
    <span class="product-info quantity">
      {{ product.quantity }} left product{{ product.quantity > 1 ? "s" : "" }}
    </span>
    <span class="product-info price">{{ product.price }} $</span>
    <span class="product-info edit-btn" *ngIf="product.status != false">
      <button
        mat-raised-button
        color="primary"
        type="button"
        [routerLink]="[product.productID, 'edit']"
      >
        edit
      </button>
    </span>
    <span class="product-info delete-btn" *ngIf="product.status != false">
      <button
        mat-raised-button
        color="warn"
        type="button"
        (click)="onDelete(product.productID)"
      >
        delete
      </button>
    </span>
  </div>
</div>
