<div class="container">
  <app-sidebar *ngIf="isLogged && !isErrorPage"></app-sidebar>
  <div
    class="main-content"
    [ngClass]="{ logged: isLogged, error: isErrorPage }"
  >
    <app-navbar *ngIf="isLogged && !isErrorPage"></app-navbar>
    <div class="indicator-container" *ngIf="showLoadingIndicator">
      <div class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
