<div class="container">
  <div class="sidebar">
    <div class="sidebar-header">
      <img src="../assets/logo.png" alt="Sidebar's Header Logo" />
    </div>
    <mat-divider></mat-divider>
    <ul class="sidebar-menu">
      <li class="sidebar-item">
        <a
          class="sidebar-link"
          [routerLink]="['/home']"
          routerLinkActive="active"
        >
          <fa-icon class="sidebar-link-icon" [icon]="faHome"></fa-icon>
          Home
        </a>
      </li>
      <li class="sidebar-item">
        <a
          class="sidebar-link"
          [routerLink]="['/products']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <fa-icon class="sidebar-link-icon" [icon]="faListUl"></fa-icon>
          Product List
        </a>
      </li>
      <li class="sidebar-item">
        <a
          class="sidebar-link"
          [routerLink]="['/products', 'add']"
          routerLinkActive="active"
          queryParamsHandling="preserve"
        >
          <fa-icon class="sidebar-link-icon" [icon]="faFolderPlus"></fa-icon>
          Add Product
        </a>
      </li>
    </ul>
  </div>
  <div class="main-content">
    <div class="main-content-header" *ngIf="userDetails">
      <ul class="navbar-nav">
        <nav class="item">
          <span>Hello, {{ userDetails.fullName }}</span>
        </nav>
        <nav class="item">
          <button mat-button>
            <mat-icon matBadge="15" matBadgeColor="warn">
              <fa-icon [icon]="faBell"></fa-icon>
            </mat-icon>
          </button>
        </nav>
        <nav class="item">
          <button mat-button [matMenuTriggerFor]="beforeMenu">
            <mat-icon><fa-icon [icon]="faUser"></fa-icon></mat-icon>
          </button>
          <mat-menu #beforeMenu="matMenu" xPosition="before">
            <button mat-menu-item>Settings</button>
            <button (click)="onLogout()" mat-menu-item>Logout</button>
          </mat-menu>
        </nav>
      </ul>
    </div>
    <div class="lds-roller" *ngIf="showLoadingIndicator">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
