<div class="container">
  <div class="sidebar" *ngIf="isLogged">
    <span class="color-overplay"></span>
    <div class="sidebar-header">
      <img src="../assets/logo.png" alt="Sidebar's Header Logo" />
    </div>
    <mat-divider></mat-divider>
    <ul class="sidebar-menu">
      <li class="sidebar-item">
        <a
          class="sidebar-link"
          [routerLink]="['/home']"
          routerLinkActive="active"
        >
          <fa-icon class="sidebar-link-icon" [icon]="faHome"></fa-icon>
          Home
        </a>
      </li>
      <li class="sidebar-item">
        <a
          class="sidebar-link"
          [routerLink]="['/products']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <fa-icon class="sidebar-link-icon" [icon]="faListUl"></fa-icon>
          Product List
        </a>
      </li>
      <li class="sidebar-item">
        <a
          class="sidebar-link"
          [routerLink]="['/products', 'add']"
          routerLinkActive="active"
          queryParamsHandling="preserve"
        >
          <fa-icon class="sidebar-link-icon" [icon]="faFolderPlus"></fa-icon>
          Add Product
        </a>
      </li>
    </ul>
  </div>
  <div class="main-content" [ngClass]="{ logged: isLogged }">
    <app-navbar></app-navbar>
    <div class="indicator-container" *ngIf="showLoadingIndicator">
      <div class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
