.error-page-container {
  width: 50%;
  margin: 60px auto;
}

.error-title {
  font-weight: 600;
  font-size: 5rem;
  margin-bottom: 50px;
}

.error {
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 20px;
}

.error-detail {
  font-size: 1rem;
  margin-bottom: 20px;
}
